<launch>

  <arg name="ID"/>
  <arg name="fcu_url"/>
  <arg name="pluginlists_yaml" default="$(find-pkg-share mrs_uav_px4_api)/config/mavros_plugins.yaml"/>
  <arg name="config_yaml" default="$(find-pkg-share mrs_uav_px4_api)/config/mavros_px4_config.yaml"/>
  <arg name="log_output" default="screen"/>
  <arg name="gcs_url" default=""/>
  <arg name="fcu_protocol" default="v2.0"/>
  <arg name="tgt_component" default="1"/>
  <arg name="respawn_mavros" default="false"/>
  
  <arg name="tgt_system" default="$(eval '1 + int($(var ID))')"/>

  <let name="uav_ns" value="uav$(var ID)"/>

  <node pkg="mavros" exec="mavros_node" namespace="$(var uav_ns)/mavros" output="$(var log_output)" respawn="$(var respawn_mavros)">

    <param name="fcu_url" value="$(var fcu_url)"/>
    <param name="gcs_url" value="$(var gcs_url)"/>
    <param name="tgt_system" value="$(var tgt_system)"/>
    <param name="tgt_component" value="$(var tgt_component)"/>
    <param name="fcu_protocol" value="$(var fcu_protocol)"/>

    <param name="distance_sensor/garmin/frame_id" value="$(var uav_ns)/garmin"/>
    <param name="local_position/frame_id" value="$(var uav_ns)/pixhawk_origin"/>
    <param name="local_position/tf/child_frame_id" value="$(var uav_ns)/fcu"/>
    <param name="imu/frame_id" value="$(var uav_ns)/fcu"/>
    <param name="global_position/frame_id" value="$(var uav_ns)/utm_origin"/>
    <param name="global_position/child_frame_id" value="$(var uav_ns)/fcu"/>

    <param name="time/publish_sim_time" value="false"/>
    <param name="conn/timeout" value="1000000"/>

    <param from="$(var pluginlists_yaml)"/>
    <param from="$(var config_yaml)"/>

    <remap from="/diagnostics" to="diagnostics"/>

  </node>
</launch>
